{% extends "base.html" %}


{% block css %}
   <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}



{% block content  %}
 <h1>About Page</h1>
 <p>This is the about page.</p>
 <p> Hello everybody. It’s Donald Trump, and let me tell you, this introduction is going to be tremendous. We’re talking success, strength, winning like never before. People say nobody does intros better than me. Believe me. We’re just getting started, and it’s going to be huge, absolutely fantastic for everyone everywhere. </p>  
{% endblock %}