h1{
    color:orangered;

}
p{
    font-size:18px;
    line-height:1.6;
}
body {
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Donald_Trump_official_portrait.jpg");
        background-size: cover;
        background-repeat: no-repeat;
       
}
p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}